@charset "UTF-8";
/*
 *  AIO CSS framework
 *  Copyright 2019 Aref Norouzzadeh
 *  MIT License
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
#Normalize
#Component:_Base
#Links
#Text
#Embedded_content
#Block_elements
#Heading
#Lists
#Description_lists
#Horizontal_rules
#Address
#Blockquote
#Preformatted_text
#Selection
#Form
*/

/* ========== *\
#Normalize
\* ========== */
/**
* 1. Set `font-size` to support `rem` units
*    Not using `font` property because a leading hyphen (e.g. -apple-system) causes the font to break in IE11 and Edge
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
*/
html {
  /* 1 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0;
}

/**
* Add the correct display in IE 9-.
*/
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, details, menu {
  display: block;
}

template {
  display: none;
}

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
* 3. Add the correct text-align in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box; /* 1 */
  box-sizing: content-box; /* 1 */
  overflow: visible; /* 2 */
  text-align: inherit; /* 3 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted; /* 2 */
  -moz-text-decoration: underline dotted; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font style in Android 4.3-.
*/
dfn {
  font-style: italic;
}

/**
* Add the correct background and color in IE 9-.
*/
mark {
  background-color: #ff0;
  color: #000;
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

/**
* Add the correct display in IE 9-.
*/
audio,
video {
  display: inline-block;
}

/**
* Add the correct display in iOS 4-7.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/**
* Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden;
}

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box; /* 1 */
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box; /* 1 */
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Add the correct display in IE 9-.
*/
canvas {
  display: inline-block;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

/* ========== *\
#Component:_Base
\* ========== */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background: #fff;
  color: #666;
}

/* ========== *\
#Links
\* ========== */
a {
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* ========== *\
#Text
\* ========== */
em {
  font-style: italic;
}

ins {
  background: #ffd;
  text-decoration: none;
}

mark {
  background: #ffffc7;
}

q {
  font-size: italic;
}

strong {
  font-weight: 700;
}

small {
  font-size: 75%;
}

/* ========== *\
#Embedded_content
\* ========== */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

canvas,
img,
video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

@supports (display: block) {
  svg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
}

svg:not(:root) {
  overflow: hidden;
}

iframe {
  border: 0;
}

/* ========== *\
#Block_elements
\* ========== */
p,
dl,
pre,
address,
fieldset,
figure {
  margin: 0 0 1rem 0;
}

/* ========== *\
#Heading
\* ========== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 2.23125rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.7rem;
  line-height: 1.3;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}
h5 {
  font-size: 16px;
  line-height: 1.4;
}
h6 {
  font-size: 0.875rem;
  line-height: 1.4;
}

@media (min-width: var(--breakpoint-xlg)) {
  h1 {
    font-size: 2.625rem;
  }
  h2 {
    font-size: 2rem;
  }
}

/* ========== *\
#Lists
\* ========== */
ul,
ol {
  margin: 0 0 1rem 0;
  padding: 0 2rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

/* ========== *\
#Description_lists
\* ========== */
dt {
  font-weight: normal;
}
dd {
  margin-left: 0;
}

/* ========== *\
#Horizontal_rules
\* ========== */
hr {
  background-color: whitesmoke;
  border: 0;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

/* ========== *\
#Address
\* ========== */
address {
  font-style: normal;
}

/* ========== *\
#Blockquote
\* ========== */
blockquote {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-style: italic;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

/* ========== *\
#Preformatted_text
\* ========== */
pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  -moz-tab-size: 4;
  tab-size: 4;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
  border: 1px solid #e5e5e5;
}

pre code {
  display: block;
  background-color: transparent;
  color: #4a4a4a;
  font-size: 1em;
  padding: 0;
  white-space: pre;
}

code {
  background-color: whitesmoke;
  color: #1d1d1d;
  font-size: 1em;
  font-weight: normal;
  padding: 0.25em 0.5em;
}

/* ========== *\
#Selection
\* ========== */
::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}

/* ========== *\
#Form
\* ========== */
input , textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input {
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
  overflow: visible;
}
input , textarea , select {
  max-width: 100%;
  width: 100%;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: .2s ease-in-out;
  transition-property: color,background-color,border;
  margin-bottom: 1rem;
}
input , select {
  height: 2.5rem;
  display: inline-block;
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216…66%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
select , textarea {
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: top;
}

textarea {
  min-height: 4rem;
}

input[type=radio], input[type=checkbox] {
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ccc;
  transition: .2s ease-in-out;
  transition-property: background-color,border;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
}
fieldset {
  padding: 0;
  border-width: 0;
}

/* ========== *\
#AIO_Container
\* ========== */
[aio-container] {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  [aio-container] {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  [aio-container] {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  [aio-container] {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  [aio-container] {
    max-width: 1140px;
  }
}

/* ========== *\
#AIO_Grid
\* ========== */
[aio-row] {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  align-items: stretch;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

[aio-row=no-spacing] {
  padding: 0;
  margin-bottom: 0;
}

[aio-row=no-spacing] > [aio-grid] {
  padding-right: 0;
  padding-left: 0;
}

[aio-grid] {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
}

[aio-grid*=cs1] {
  max-width: 8.333333%;
}
[aio-grid*=cs2] {
  max-width: 16.666667%;
}
[aio-grid*=cs3] {
  max-width: 25%;
}
[aio-grid*=cs4] {
  max-width: 33.333333%;
}
[aio-grid*=cs5] {
  max-width: 41.666667%;
}
[aio-grid*=cs6] {
  max-width: 50%;
}
[aio-grid*=cs7] {
  max-width: 58.333333%;
}
[aio-grid*=cs8] {
  max-width: 66.666667%;
}
[aio-grid*=cs9] {
  max-width: 75%;
}
[aio-grid*=cs10] {
  max-width: 83.333333%;
}
[aio-grid*=cs11] {
  max-width: 91.666667%;
}
[aio-grid*=cs12] {
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  [aio-grid*=cm1] {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  [aio-grid*=cm2] {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [aio-grid*=cm3] {
    flex: 0 0 25%;
    max-width: 25%;
  }
  [aio-grid*=cm4] {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [aio-grid*=cm5] {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [aio-grid*=cm6] {
    flex: 0 0 50%;
    max-width: 50%;
  }
  [aio-grid*=cm7] {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [aio-grid*=cm8] {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [aio-grid*=cm9] {
    flex: 0 0 75%;
    max-width: 75%;
  }
  [aio-grid*=cm10] {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [aio-grid*=cm11] {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [aio-grid*=cm12] {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  [aio-grid*=cl1] {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  [aio-grid*=cl2] {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [aio-grid*=cl3] {
    flex: 0 0 25%;
    max-width: 25%;
  }
  [aio-grid*=cl4] {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [aio-grid*=cl5] {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [aio-grid*=cl6] {
    flex: 0 0 50%;
    max-width: 50%;
  }
  [aio-grid*=cl7] {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [aio-grid*=cl8] {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [aio-grid*=cl9] {
    flex: 0 0 75%;
    max-width: 75%;
  }
  [aio-grid*=cl10] {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [aio-grid*=cl11] {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [aio-grid*=cl12] {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

[aio-grid*=os1] {
  margin-left: 8.333333%;
}
[aio-grid*=os2] {
  margin-left: 16.666667%;
}
[aio-grid*=os3] {
  margin-left: 25%;
}
[aio-grid*=os4] {
  margin-left: 33.333333%;
}
[aio-grid*=os5] {
  margin-left: 41.666667%;
}
[aio-grid*=os6] {
  margin-left: 50%;
}
[aio-grid*=os7] {
  margin-left: 58.333333%;
}
[aio-grid*=os8] {
  margin-left: 66.666667%;
}
[aio-grid*=os9] {
  margin-left: 75%;
}
[aio-grid*=os10] {
  margin-left: 83.333333%;
}
[aio-grid*=os11] {
  margin-left: 91.666667%;
}
[aio-grid*=os12] {
  margin-left: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  [aio-grid*=om1] {
    margin-left: 8.333333%;
  }
  [aio-grid*=om2] {
    margin-left: 16.666667%;
  }
  [aio-grid*=om3] {
    margin-left: 25%;
  }
  [aio-grid*=om4] {
    margin-left: 33.333333%;
  }
  [aio-grid*=om5] {
    margin-left: 41.666667%;
  }
  [aio-grid*=om6] {
    margin-left: 50%;
  }
  [aio-grid*=om7] {
    margin-left: 58.333333%;
  }
  [aio-grid*=om8] {
    margin-left: 66.666667%;
  }
  [aio-grid*=om9] {
    margin-left: 75%;
  }
  [aio-grid*=om10] {
    margin-left: 83.333333%;
  }
  [aio-grid*=om11] {
    margin-left: 91.666667%;
  }
  [aio-grid*=om12] {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  [aio-grid*=ol1] {
    margin-left: 8.333333%;
  }
  [aio-grid*=ol2] {
    margin-left: 16.666667%;
  }
  [aio-grid*=ol3] {
    margin-left: 25%;
  }
  [aio-grid*=ol4] {
    margin-left: 33.333333%;
  }
  [aio-grid*=ol5] {
    margin-left: 41.666667%;
  }
  [aio-grid*=ol6] {
    margin-left: 50%;
  }
  [aio-grid*=ol7] {
    margin-left: 58.333333%;
  }
  [aio-grid*=ol8] {
    margin-left: 66.666667%;
  }
  [aio-grid*=ol9] {
    margin-left: 75%;
  }
  [aio-grid*=ol10] {
    margin-left: 83.333333%;
  }
  [aio-grid*=ol11] {
    margin-left: 91.666667%;
  }
  [aio-grid*=ol12] {
    margin-left: 100%;
  }
}
